---
import { getCollection } from "astro:content";

import BlogCard from "../../components/BlogCard.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allBlogs = await getCollection("blog");

const sortedBlogs = allBlogs.sort(
  (a, b) => Number(b.data.publishedDate) - Number(a.data.publishedDate)
);

const description = `
  The list of blog posts that Somraj Saha has published on
  his personal website
`;
---

<style lang="scss">
  @media screen and (min-width: 320px) and (max-width: 767px) {
    article {
      padding: 0 8% 0 8%;
      margin: 10% 0 10% 0%;
    }
  }

  @media screen and (min-width: 768px) {
    article {
      margin: 5% 15% 5% 15%;
    }
  }

  article {
    color: #ecf8ff;

    h1 {
      font-family: "Poppins";
      font-size: 3rem;
      font-style: normal;
      font-weight: 700;
      line-height: 142%;
      margin-bottom: 2rem;
    }
  }
</style>

<BaseLayout
  title="Blog Posts"
  description={description}
  slug="/blog"
  imageAlt="The logo for Somraj Saha's personal blog"
  imageUrl={new URL(
    "https://ik.imagekit.io/jarmos/logo.png?updatedAt=1703675914287"
  )}
>
  <article>
    <h1>Articles</h1>
    {
      sortedBlogs.map((blog) => (
        <BlogCard
          title={blog.data.title}
          description={blog.data.description}
          publicationDate={blog.data.publishedDate}
          slug={blog.slug}
        />
      ))
    }
  </article>
</BaseLayout>
