---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title?: string;
  description: string;
  slug: string;
  imageUrl: URL;
  imageAlt: string;
}

const { title, description, slug, imageUrl, imageAlt } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <meta
    name="keywords"
    content="software engineer,software developer,web developer"
  />
  <meta name="referrer" content="origin-when-cross-origin" />
  <meta name="creator" content="Somraj Saha" />
  <meta name="publisher" content="Somraj Saha" />
  <meta name="category" content="software engineering" />
  <meta
    name="format-detection"
    content="telephone=(+91)7731824653,address=no,email=contact@jarmos.dev"
  />
  <meta
    name="google-site-verification"
    content="M0ZkOwR8huIlDkph37Gt2Wf9w7JcwmM1g64OTfJRmBQ"
  />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-title" content="Somraj Saha" />
  <meta
    name="apple-mobile-web-app-status-bar-style"
    content="black-translucent"
  />
  <link rel="icon" href={new URL("assets/logo.svg", Astro.site)} />
  <link
    rel="apple-touch-icon"
    href={new URL("/apple-touch-icon.png", Astro.site)}
  />
  <link
    rel="apple-touch-startup-image"
    href={new URL("/apple-touch-icon.png", Astro.site)}
    media="(device-width: 768px) and (device-height: 1024px)"
  />
  <link
    rel="apple-touch-startup-image"
    href={new URL("/apple-touch-icon.png", Astro.site)}
  />
  <link rel="assets" href={new URL("/assets", Astro.site)} />
  <link rel="manifest" href={new URL("/site.webmanifest", Astro.site)} />
  <!-- Primary Meta Tags -->
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="content" content={description} />
  <link rel="canonical" href={new URL(slug, Astro.site)} />
  <!-- Open Graph / Facebook Meta Tags -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={new URL(`/blog${slug}`, Astro.site)} />
  <meta property="og:image" content={imageUrl} />
  <meta property="og:image:alt" content={imageAlt} />
  <!-- Twitter Meta Tags -->
  <meta property="twitter:title" content={title} />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:creator" content="@Jarmosan" />
  <meta property="twitter:title" content="Somraj Saha" />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:url" content={new URL(`/blog${slug}`, Astro.site)} />
  <meta property="twitter:image" content={imageUrl} />
  <meta property="twitter:image:alt" content={imageAlt} />
  <title>{title ? `${title} | Somraj Saha` : "Somraj Saha"}</title>
  <ViewTransitions />
</head>
